@model FrogsNetwork.Freelancing.ViewModels.CompanyProfileViewModel
@{
    ViewLayout = "Layout__Main";
}

<form asp-controller="CompanyProfile" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal no-multisubmit">
    
    <h1>@T["Basic Profile"]</h1>
    <p>@T["Use the form below to update your basic information."]</p>

    <div class="row">
        <div class="col">
            <fieldset>
                <legend>@T["Profile Information"]</legend>
                <div>
                    <label asp-for="CompanyName">@T["Company Name:"]</label>
                    <input asp-for="CompanyName" class="form-control"   />
                    @* <span asp-validation-for="CompanyName" class="text-danger"></span>*@
                </div>
                <div>
                    <label asp-for="Activities">@T["Activities:"]</label>
                    <input asp-for="Activities" class="form-control"   />
                    @* <span asp-validation-for="Activities" class="text-danger"></span>*@
                </div>

                <div>
                    <label asp-for="ContactPersonName">@T["Contact Person Name:"]</label>
                    <input asp-for="ContactPersonName" class="form-control"   />
                    @* <span asp-validation-for="Activities" class="text-danger"></span>*@
                </div>

                <div>
                    <label asp-for="ContactPersonPosition">@T["Contact Person Position:"]</label>
                    <input asp-for="ContactPersonPosition" class="form-control"   />
                    @* <span asp-validation-for="Activities" class="text-danger"></span>*@
                </div>

                <div>
                    <label asp-for="Tel">@T["Company Tel:"]</label>
                    <input asp-for="Tel" class="form-control"   />
                    @* <span asp-validation-for="Tel" class="text-danger"></span>*@
                </div>

                <div>
                    <label asp-for="Website">@T["Website:"]</label>
                    <input asp-for="Website" class="form-control"   />
                    @* <span asp-validation-for="Website" class="text-danger"></span>*@
                </div>

            </fieldset>

        </div>

        <div class="col">
            <fieldset>
                <legend>@T["Location Information"]</legend>
                <div>
                    <label for="country">@T["Country:"]</label>
                    <br />
                    @Html.DropDownListFor(m => m.CountryId, Model.Countries, "Please select", new { @class = "form-control", onchange = "submit();" })
                </div>
                <div>
                    <label for="region">@T["Region:"]</label>
                    <br />
                    @Html.DropDownListFor(m => m.RegionId, Model.Regions, "Please select", new { @class = "form-control", onchange = "submit();" })
                </div>
                <div>
                    <label for="city">@T["City:"]</label>
                    <br />
                    @Html.DropDownListFor(m => m.CityId, Model.Cities, "Please select", new {@class = "form-control"})
                </div>


                <div>
                    <label asp-for="Address">@T["Address:"]</label>
                    <input asp-for="Address" class="form-control"   />
                    @* <span asp-validation-for="Address" class="text-danger"></span>*@
                </div>
                <div>
                    <label asp-for="PostalCode">@T["Postal Code:"]</label>
                    <input asp-for="PostalCode" class="form-control"   />
                    @* <span asp-validation-for="PostalCode" class="text-danger"></span>*@
                </div>
                <br />
                @*<div id="MapDiv" style="width: 400px; height: 400px">
                </div>*@
            </fieldset>

        </div>

    </div>

    <div class="row">
        <div class="col-2">
            <button class="btn btn-primary" type="submit">@T["Save Profile"]</button>
            <br />
            <button class="btn btn-primary" formaction="/FreelancerSearch/Index" type="submit">@T["Search Freelancers"]</button>
        </div>
    </div>
    <br />
  
 

   
</form>