@model FrogsNetwork.Freelancing.ViewModels.CompanyProfileViewModel


@{
    ViewLayout = "Layout__Main";
}



<h1>@T["Basic Profile"]</h1>
<p>@T["Use the form below to update your basic information."]</p>
<form asp-controller="CompanyProfile" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal no-multisubmit">



    <div class="row">
        <div class="col">
            <fieldset>
                <legend>@T["Profile Information"]</legend>
                <div>
                    <label for="CompanyName">@T["Company Name:"]</label>
                    @Html.TextBox("CompanyName")
                </div>
                <div>
                    <label for="Activities">@T["Activities:"]</label>
                    @Html.TextBox("Activities")
                </div>

                <div>
                    <label for="ContactPersonName">@T["Contact Person Name:"]</label>
                    @Html.TextBox("ContactPersonName")
                </div>

                <div>
                    <label for="ContactPersonPosition">@T["Contact Person Position:"]</label>
                    @Html.TextBox("ContactPersonPosition")
                </div>

                <div>
                    <label for="Tel">@T["Company Tel:"]</label>
                    @Html.TextBox("Tel")
                </div>

                <div>
                    <label for="Website">@T["Website:"]</label>
                    @Html.TextBox("Website")
                </div>

            </fieldset>

        </div>

        <div class="col">
            <fieldset>
                <legend>@T["Location Information"]</legend>
                <div>
                    <label for="country">@T["Country:"]</label>
                    <br />
                    @Html.DropDownListFor(m => m.CountryId, Model.Countries, "Please select", new { onchange = "document.forms[0].submit();" })
                </div>
                <div>
                    <label for="region">@T["Region:"]</label>
                    <br />
                    @Html.DropDownListFor(m => m.RegionId, Model.Regions, "Please select", new { onchange = "document.forms[0].submit();" })
                </div>
                <div>
                    <label for="city">@T["City:"]</label>
                    <br />
                    @Html.DropDownListFor(m => m.CityId, Model.Cities, "Please select")
                </div>


                <div>
                    <label for="vat">@T["Address:"]</label>
                    @Html.TextBox("Address")
                </div>
                <div>
                    <label for="vat">@T["PostalCode:"]</label>
                    @Html.TextBox("PostalCode")
                </div>
                <br />
                @*<div id="MapDiv" style="width: 400px; height: 400px">
                </div>*@
            </fieldset>

        </div>

    </div>

    <div class="row">
        <div class="col-2">
            <button class="primarybutton" style="width:200px" type="submit">@T["Save Profile"]</button>
            <br />
            <button class="primarybutton" style="width:200px" formaction="/FreelancerSearch" type="submit">Search Freelancers</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW1SgI7RCtbjx3t5yUIfjiDTW6fvn50OA"></script>
    <script>
        $(function () {
            var markers = [];

            var marker = {};

            marker["lat"] = '@Model.Lat';
            marker["lng"] = '@Model.Long';

            markers.push(marker);


            //call Map function with all markers passed as list of arrays
            initializeMap(markers);


            function initializeMap(markers) {
                //you can check your marker data in console
                console.log(markers);
                //Create Google map options
                var GoogleMapOptions = {
                    center: new google.maps.LatLng(markers[0].lat, markers[0].lng),
                    zoom: 6,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };


                //create a variable of InfoWindow type to show data on clicking map icon
                var infoWindow = new google.maps.InfoWindow();
                var map = new google.maps.Map(document.getElementById("MapDiv"), GoogleMapOptions);


                //loop through each marker data
                for (i = 0; i < markers.length; i++) {
                    var data = markers[i]
                    //set lat long of current marker
                    var myLatlng = new google.maps.LatLng(data.lat, data.lng);

                    var marker = new google.maps.Marker({
                        position: myLatlng,
                        map: map,
                        title: data.title,
                        draggable: false
                    });

                    (function (marker, data) {
                        //add a on marker click event
                        google.maps.event.addListener(marker, "click", function (e) {
                            //show description
                            infoWindow.setContent(data.description);
                            infoWindow.open(map, marker);
        @*@Model.Lat = evt.latLng.lat().toFixed(6);
                                @Model.Long = evt.latLng.lng().toFixed(6);*@
                                            });

        @* google.maps.event.addListener(marker, 'dragend', function (evt) {
                            @Model.Lat = evt.latLng.lat().toFixed(6);
                            @Model.Long = evt.latLng.lng().toFixed(6);

                            map.panTo(evt.latLng);
                            });*@
                                        })(marker, data);
                }
            }
        });
    </script>

    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.13.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                changemonth: true,
                changeyear: true
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            if ($("#RegionId option").length > 1) {
                $("#RegionId").removeAttr("disabled");
            }

            if ($("#CityId option").length > 1) {
                $("#CityId").removeAttr("disabled");
            }

            //if ($("#CountryId").val() != "" && $("#RegionId").val() != "" && $("#CityId").val() != "") {
            //    var message = "Country: " + $("#CountryId option:selected").text();
            //    message += "\nRegion: " + $("#RegionId option:selected").text();
            //    message += "\nCity: " + $("#CityId option:selected").text();
            //}


        });
    </script>
</form>