@model FrogsNetwork.Freelancing.ViewModels.FreelancerSearchViewModel


@{
    ViewLayout = "Layout__Main";
}




<form asp-controller="FreelancerSearch" asp-action="Index" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal no-multisubmit">
    <h1>@T["Freelancer Search"]</h1>
    <p>@T["Use the form below to search for Freelancer."]</p>

    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>@T["Location Information"]</legend>
                        <div>
                            <label for="country">@T["Country:"]</label>
                            <br />
                            @Html.DropDownListFor(m => m.CountryId, Model.Countries, "Please select", new { @class = "form-control", onchange = "submit();" })
                        </div>
                        <div>
                            <label for="region">@T["Region:"]</label>
                            <br />
                            @Html.DropDownListFor(m => m.RegionId, Model.Regions, "Please select", new { @class = "form-control", onchange = "submit();" })
                        </div>
                        <div>
                            <label for="city">@T["City:"]</label>
                            <br />
                            @Html.DropDownListFor(m => m.CityId, Model.Cities, "Please select", new {@class = "form-control"})
                        </div>

                        <div>
                            <label asp-for="Address">@T["Address:"]</label>
                            <input asp-for="Address" class="form-control" />
                            @*  <span asp-validation-for="Address" class="text-danger"></span>*@
                        </div>

                        <br />

                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>@T["Expertise :"]</legend>

                        <label>Select First Expertise Level :</label>
                        <br />
                        @Html.ListBoxFor(m => m.ExpertiseFirstIds, Model.ExpertiseFirst, new {  @class = "form-control", @multiple="multiple", @id="ExpertiseFirst", onchange = "this.form.submit();" })
                        <br />
                        <label>Select Second Expertise Level :</label>
                        <br />
                        @Html.ListBoxFor(m => m.ExpertiseSecondIds, Model.ExpertiseSecond, new { @class = "form-control", @multiple="multiple", @id="ExpertiseSecond"})
                        <br />

                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <fieldset>
                        <legend>@T["Services :"]</legend>

                        <label>Select First Expertise Level :</label>
                        <br />
                        @Html.ListBoxFor(m => m.ServicesFirstIds, Model.ServicesFirst, new {  @class = "form-control", @multiple="multiple", @id="ServicesFirst", onchange = "this.form.submit();" })
                        <br />
                        <label>Select Second Expertise Level :</label>
                        <br />
                        @Html.ListBoxFor(m => m.ServicesSecondIds, Model.ServicesSecond, new { @class = "form-control", @multiple="multiple", @id="ServicesSecond"})
                        <br />
                    </fieldset>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" type="submit">@T["Save"]</button>
                    <br />
                    <button class="btn btn-primary" formaction="/FreelancerSearch/Index" type="submit">@T["Search Freelancers"]</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="panel-body">
                <table id="assets-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>City</th>
                            <th>Region</th>
                            <th>Country</th>
                            <th>Distance</th>
                            <th>Duration</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    @foreach (var entry in Model.Freelancers)
                    {
                        <tr>
                            <td>
                                @entry.FirstName
                            </td>
                            <td>
                                @entry.LastName
                            </td>
                            <td>
                                @entry.City
                            </td>
                            <td>
                                @entry.Region
                            </td>
                            <td>
                                @entry.Country
                            </td>
                            <td>
                                @entry.DistanceText
                            </td>
                            <td>
                                @entry.DurationText
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Index", "FreelancerDetail", new { entry.Id }, null)
                            </td>
                        </tr>
                    }
                </table>

            </div>
        </div>
        <br />
        <br />
    </div>


</form>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js">
</script>
<script type="text/javascript">
    $(function () {
        $("#ExpertiseFirst").select2();
        $("#ExpertiseSecond").select2();
        $("#ServicesFirst").select2();
        $("#ServicesSecond").select2();

    });
</script>
